section{
  padding: 2.7rem 1.4rem;
  scroll-margin: 3rem;
}

section > h3{
  font-size: 2.7rem;
  color: var(--color-black);
  margin-bottom: 2.7rem;

}
section > h6{
  font-size: 2.2rem;
  color: var(--color-black);
  margin-bottom: 1.4rem;

}
section > p{
  font-size: 1.4rem;
  color:darkolivegreen;
  margin-bottom: 1.9rem;
}

section > ul{
  list-style: none;
}
section > ul >li{
  font-size: 1.4rem;
  color: var(--color-black);
  margin-bottom: 1.4rem;

}
section>button{
  border: none;
  background-color:steelblue;
  color: white;
  font-size: 2.2rem;
  text-transform: uppercase;
  padding: .9rem 1.4rem;
  cursor: pointer;
}