header>h1{
  text-align: center;
  text-transform: uppercase;
  color: skyblue;
}
.createNote{
  max-width: 60rem;
  margin: 2.7rem auto;
}
.createNote > form{
  display: flex;
  flex-direction: column;
}
.createNote > form > input, textarea{
  margin: 1.4rem 0;
  padding: 1.4rem;
  border: 1px solid skyblue;

}
.createNote > form > button{
  border: 1px solid skyblue;
  padding: .9rem 1.4rem;
  background-color: skyblue;
  text-transform: uppercase;
  font-size: 1.9rem;
  color: white;
  align-self: flex-start;
  cursor: pointer;
}
.notes{
  display: flex;
  flex-direction: column;
  max-width: 60rem;
  margin: 0 auto;

}
.notes__each{
  width: 100%;
  padding: 2.7rem;
  position: relative;
  background-color: skyblue;
  border-radius: 3px;
  margin: 2.7rem auto;
}
.notes__each--title{
  text-transform: uppercase;
  color: orangered;
  font-size: 1.9rem;
  margin-bottom: 2.7rem;
  display: block;
}
.notes__each--description{
  color: var(--color-black);
  font-size: 1.9rem;
  margin-bottom: 1.4rem;
}
.close{
  position: absolute;
  top: 1.4rem;
  right: 1.4rem;
  background-color: transparent;
  padding: .4rem .7rem;
  border: 1px solid orangered;
  color: orangered;
  cursor: pointer;
}
small{
  color: var(--color-black);
}