nav{
  position: fixed;
  top: 0;
  left: 0;
  background-color: #222;
  padding: 1rem;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

nav > button{
  border:none;
  background-color: transparent;
  color: snow;
  font-size: 1.4rem;
  font-family: sans-serif;
  margin-right: 1.4rem;
  transition: all .3s;
  text-transform: none;
  padding: 0;
}
nav>button:hover{
  cursor: pointer;
  color: var(--color-primary);
}
nav>button:focus, nav>button:active{
  outline: none;
}
nav>button> a{
  color: var(--color-secondary);
  text-decoration: none;
  
}

